APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:KbdIqan/Pb7Sh+IgbYEZY27bfOKO0DBqM4HVUEtxONE=
APP_DEBUG=true
APP_URL=http://localhost/demo/

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel-jwt
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

APIKEY_ENCRYPTION = eyJpdiI6InlmVHRaelpJOUxwMGxpUW1kdHFpMHc9PSIsInZhbHVlIjoiTUoxOEcyL0RlWWtTRm4yTzN3RFhNUUVIaHRzK25BMzZVRCtXTWdqQk42OD0iLCJtYWMiOiJhNTQzYWRmODYxNWVlN2UxM2ZmZTVmNDIyMDI4NmMzZDFmZjJkMmFkZjBlNWJiMjE5ZTk1YjI4YjdjMzY3ZDFkIiwidGFnIjoiIn0=

#client_id = eyJpdiI6IjVzNjRNOUVKbHZrR2FldE40WEZpTFE9PSIsInZhbHVlIjoiQ1o4U0Ryd1VKOEtIcDNDZFV6S24zZmN2bkJFempqbUpCZ1VyQU11ZXlKWDFHdW5iZFB3UHhUQTNjcGd3ZXpyLyIsIm1hYyI6ImRlOGM3YzQ3Yzg5YmE3ZTFmNDA4NzQ1NGI2MzNmZDA1YWU4ODFhNjRhYzYzNzkzN2M4MjcyNGYyZDUxYTdlYWQiLCJ0YWciOiIifQ==
#client_secret = eyJpdiI6IjY3aWE5OVBrOWQrK3p2VGd1Y2JTc2c9PSIsInZhbHVlIjoiZWRlUWo4V3JkOVFUalBBaEY1RWdreWFjUGVXbXpxdjFqREFDMFRqbCtHQnlEd05rSlhyd0xIUW5MTkNvUGVUNSIsIm1hYyI6IjAwNTAzNGY0MDAzZjRlYjE4NTY0NzkzN2ViZWE4NTMwOTJiZGZmNzhiODA3ODAzYjViMjFhMjI2YWFkNTNkNzQiLCJ0YWciOiIifQ==

client_id = eyJpdiI6IlpZazdyek00ZlpIeE5iNkVOM1VJVWc9PSIsInZhbHVlIjoiLytHMm50c2xSeFRSSjJUM2s3UUZGTXNOSzJNb2h0dys5YnJram0rV2xNZW9oell1VnhiaURBS1VsQXRrczRzVSIsIm1hYyI6ImIyZTYxYmY4ZTYyYWJlMTBhZWQxOTU4OWI2OWI2MDE0OTk0ZjcxNzFkMzhkYzc1MTQwNjNhMzQ4NTA1NDgxNTAiLCJ0YWciOiIifQ==
client_secret = eyJpdiI6IllpNExKNHkzeVZISGt5RHZrN3BrQnc9PSIsInZhbHVlIjoiSE5FZ0J1b3c4eUNvWWRKb24yMi96S1EwVmpPVStROHVHVmo2cTFNcjNqa00rTFkwbnVJOVFBQXdLVjlQdGlDNiIsIm1hYyI6IjI3Yzk1NTZhNDUwY2Y5ODUzZTdkZjZiOTc1Mjk3NTIwYTFiMGY5OWJiZjBhZThiY2JhOTllNDI2NDdlOThiMjEiLCJ0YWciOiIifQ==



PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

JWT_SECRET=voJcPcj4UqwlClI5vuEGNa839yI70IyE6yV6ryxHniOILvX4UCP6f2moVKpHfCO0

JWT_ALGO=HS256


NOCAPTCHA_SITEKEY="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"
NOCAPTCHA_SECRET="6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe"

