:root {
    --primary: #263C29;
    --hover: #8A7756;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.6;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: var(--primary);
    position: relative;
    background-color: #DEDCD7;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Poppins', sans-serif;
    color: var(--primary);
    font-weight: 500;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

a:hover {
    color: var(--hover);
}

.btn {
    border-radius: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.py-90 {
    padding-top: 90px;
    padding-bottom: 90px;
}

.py-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.py-70 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.bg-image-center {
    position: relative;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.bg-image-top {
    position: relative;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.section-title {
    margin-bottom: 30px;
}

.section-title .main-title {
    font-size: 46px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--primary);
    line-height: 1.3;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
}

.section-title .main-title.text-lg {
    font-size: 54px;
}

.section-title .main-title span {
    font-weight: 300;
    font-family: 'DM Sans', sans-serif;
}

/*=============================================
   - MAIN HEADER      
=============================================*/

.main-header {
    position: relative;
    background-color: #DEDCD7;
    padding: 25px 60px 15px;
    z-index: 5;
}

.main-header .lang {
    color: var(--primary);
    text-align: right;
    margin-bottom: 0;
}

.main-header .custom-nav {
    position: relative;
    bottom: -38px;
}

.main-header .custom-nav .logo {
    background-color: var(--primary);
    display: inline-block;
    padding: 12px 15px;
}

.main-header .custom-nav .logo a {
    color: #FFF;
}

.register-btn {
    display: flex;
    gap: 10px;
    color: #8A7756;
    justify-content: right;
}

.register-btn span {
    font-size: 16px;
    padding: 11px 30px;
    border-radius: 40px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 250ms;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 20px rgba(102, 102, 102, .08);
    box-shadow: 0 5px 20px rgba(102, 102, 102, .08);
}

.register-btn i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 250ms;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 20px rgba(102, 102, 102, .08);
    box-shadow: 0 5px 20px rgba(102, 102, 102, .08);
}

/*=============================================
   - MAIN SLIDER      
=============================================*/

.main-slider .slider-carousel {
    position: relative;
}

.main-slider .slide-item {
    height: calc(100vh);
    position: relative;
    display: flex;
}

.main-slider .slide-item:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    z-index: -1;
    opacity: 0.5;
}

.main-slider .banner-content-box {
    text-align: center;
}

.main-slider .banner-content-box img {
    width: 300px !important;
}

.main-slider .banner-content-box .banner-title {
    color: #FFF;
    font-size: 94px;
    font-family: 'Muller Regular';
}

.main-slider .banner-content-box h5 {
    color: #FFF;
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 5px;
}

/*=============================================
   - ABOUT COMPANY     
=============================================*/

.about-company-section {
    position: relative;
    z-index: 1;
    padding-top: 150px;
    padding-bottom: 250px;
}

.about-company-section:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    z-index: -1;
}

.about-company-section .content {
    text-align: center;
    margin-top: 50px;
}

.about-company-section .content p {
    color: #FFF;
    font-size: 24px;
}

/*=============================================
   - DISCOVER COMPANY     
=============================================*/

.discover-section {
    position: relative;
    margin-top: -130px;
    padding-bottom: 90px;
}

.discover-section .intro-carousel .slide-item img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 3px;
}

.discover-section .discover-container {
    padding-top: 80px;
    text-align: center;
}

.discover-section .discover-container .short-content {
    font-weight: 500;
    margin-bottom: 0;
}

/*=============================================
   - EXPLORE COMPANY     
=============================================*/

.explore-section {
    position: relative;
}

.explore-section .explore-background {
    position: relative;
    z-index: 1;
}

.explore-section .explore-background img {
    width: 100%;
}

.explore-section .explore-background .section-title {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    bottom: 8%;
    z-index: 1;
}

.explore-section .overlay-bg {
    position: relative;
    top: -300px;
    margin-bottom: -300px;
}

.explore-section .overlay-bg .overlay {
    width: 100%;
}

.explore-section .overlay-bg .overlay-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
    text-align: center;
}

.explore-section .overlay-bg .overlay-content p {
    font-size: 32px;
    color: #FFF;
    margin-bottom: 0;
    font-weight: 200;
}

@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotate360 10s linear infinite;
}

/*=============================================
   - SPECIFICATION    
=============================================*/

.specification-tab {
    position: relative;
    margin-top: 110px;
    padding: 80px 0;
}

.specification-tab:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    z-index: -1;
}

.specification-tab .nav {
    margin-top: -128px;
}

.specification-tab .nav .nav-item {
    margin: 0 5px;
}

.specification-tab .nav .nav-item .nav-link {
    background-image: url('../images/tab-bg.png');
    border-radius: 20px 20px 0 0;
    color: #fff;
    padding: 12px 15px 8px;
    background-size: cover;
    white-space: nowrap;
    background-color: var(--hover);
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

.specification-tab .nav .nav-item .nav-link.active,
.specification-tab .nav .nav-item .nav-link:focus,
.specification-tab .nav .nav-item .nav-link:hover {
    background-image: url('../images/active-tab-bg.png');
    background-color: var(--primary);
}

.specification-tab .tab-heading {
    color: #E2DED5;
    text-align: center;
}

.specification-tab .detail {
    margin-top: 60px;
}

.specification-tab .detail ul li {
    color: #E2DED5;
    font-size: 12px;
    border-bottom: 1px solid #E2DED5;
    padding: 5px 0;
}

/*=============================================
   - REGISTER SECTION    
=============================================*/

.registration-section {
    position: relative;
    z-index: 1;
}

.registration-section:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    z-index: -1;
}

.registration-form {
    position: relative;
    z-index: 1;
    background-color: rgb(255 255 255 / 80%);
    padding: 50px 40px;
}

.registration-form h4 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 46px;
    color: var(--primary);
    text-transform: capitalize;
}

.registration-form .form-label {
    font-size: 16px;
    font-weight: 500;
}

.registration-form .form-label span {
    color: #DC3545;
}

.registration-form .form-control,
.registration-form .form-select {
    background-color: rgb(255 255 255 / 100%);
    min-height: 50px;
    border: 1px solid #c5c5c5;
    border-radius: 2px;
    font-size: 16px;
}

.registration-form .form-control:focus,
.registration-form .form-select:focus {
    box-shadow: none;
    border-color: var(--hover);
}

.registration-form .theme-btn {
    font-size: 16px;
    color: var(--hover);
    padding: 11px 30px;
    border-radius: 40px;
    font-weight: 500;
    display: inline-block;
    transition: all ease-in-out 250ms;
    background-color: #fff;
    border: 1px solid #fff;
    -webkit-box-shadow: 0 5px 20px rgba(102, 102, 102, .08);
    box-shadow: 0 5px 20px rgba(102, 102, 102, .08);
}

.registration-form .input-group>.intl-tel-input.allow-dropdown {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
}

.registration-form .input-group>.intl-tel-input .selected-flag {
    width: 100px !important;
}

.registration-form .input-group>.intl-tel-input .form-control {
    padding-left: 110px !important;
}

.details-section {
    position: relative;
    z-index: 1;
}

.details-section .footer-carousel img {
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
    -webkit-box-shadow: 0 5px 20px rgba(102, 102, 102, .08);
    box-shadow: 0 5px 20px rgba(102, 102, 102, .08);
}

.footer-section {
    position: relative;
    padding: 300px 0 100px;
    margin-top: -200px;
    z-index: -1;
}

.footer-section:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    z-index: -2;
}

.footer-section .copyright {
    text-align: center;
}

.footer-section .copyright h3,
.footer-section .copyright h3 a {
    color: #FFF;
    text-transform: uppercase;
    margin-bottom: 0;
}